<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-8 col-lg-6 col-xl-5">
			<div class="text-center pb-1">
				
				<h5 class="font-14 text-muted mt-3">Ooops! Houve um erro em sua requisição.</h5>
			</div>
			<div class="card mt-4">

				<div class="card-body p-4">
					<div class="text-center">
						<h5 class="text-uppercase">Página não encontrada</h5>
						<div class="text-error">404</div>
						<p class="font-13 mb-0">
							Parece que você pode ter tomado um rumo errado. Não se preocupe... acontece com os melhores de nós.
							Por favor, verifique se digitou a URL correta ou, se chegou até aqui através de um link, pedimos que volte mais tarde.
						</p>
					</div>
			
				</div> <!-- end card-body -->
			</div>
			<!-- end card -->

			<div class="row mt-3">
				<div class="col-12 text-center">
					<p>Voltar para a <a href="/" class="text-primary ml-1"><b>Página Inicial</b></a></p>
				</div> <!-- end col -->
			</div>
			<!-- end row -->

		</div> <!-- end col -->
	</div>
	<!-- end row -->
</div>
<!-- end container -->