<!-- Navigation Bar-->
<header id="topnav">
    <!-- Topbar Start -->
    <div class="navbar-custom">
        <div class="container-fluid">

            <!-- LOGO -->
            <div class="logo-box">
                <a routerLink="/" class="logo text-center logo-light">
                    <span class="logo-lg">
                        <img src="assets/images/logo-wk.png" alt="" height="16">
                        <!-- <span class="logo-lg-text-light">Flacto</span> -->
                    </span>
                    <span class="logo-sm">
                        <!-- <span class="logo-sm-text-dark">F</span> -->
                        <img src="assets/images/logo-sm.png" alt="" height="22">
                    </span>
                </a>

                <a routerLink="/" class="logo text-center logo-dark">
                    <span class="logo-lg">
                        <img src="assets/images/logo.png" alt="" height="16">
                        <!-- <span class="logo-lg-text-dark">Flacto</span> -->
                    </span>
                    <span class="logo-sm">
                        <!-- <span class="logo-lg-text-dark">F</span> -->
                        <img src="assets/images/logo-sm.png" alt="" height="22">
                    </span>
                </a>
            </div>

            
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- end Topbar -->

    <div class="topbar-menu">
        <div class="container-fluid">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">

                    <li class="has-submenu">
                        <a routerLink="/">
                            <i class="mdi mdi-speedometer"></i>Dashboard
                        </a>
                    </li>

                    <li class="has-submenu">
                        <a routerLink="/clientes">
                            <i class="mdi mdi-account"></i>Clientes
                        </a>
                    </li>

                    <li class="has-submenu">
                        <a routerLink="/produtos">
                          <i class="mdi mdi-package-variant-closed"></i>Produtos
                        </a>
                    </li>

                    <li class="has-submenu">
                        <a routerLink="/pedidos">
                        <i class="mdi mdi-cart"></i>Pedidos
                      </a>
                  </li>

                </ul>
                <!-- End navigation menu -->

                <div class="clearfix"></div>
            </div>
            <!-- end #navigation -->
        </div>
        <!-- end container -->
    </div>
    <!-- end navbar-custom -->
</header>
<!-- End Navigation Bar-->

<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <app-loader></app-loader>
            <router-outlet></router-outlet>
        </div>
    </div> <!-- end content -->

    <!-- Footer Start -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    2022 &copy; Écio Silva 
                    (<a href="https://linkedin.com/in/eciosilva" target="_blank" title="Perfil no Linkedin">Linkedin</a>, 
                    <a href="https://github.com/eciosilva" target="_blank" title="Perfil no Github">Github</a>)
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->

</div>