<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Pedidos</h4>
        </div>
    </div>
</div>
<!-- end page title --> 

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">

                <h4 class="header-title mb-1">Novo Pedido</h4>
                <p class="sub-header mb-4">
                    Os campos marcados com (*) são obrigatórios.
                </p>

                <form id="form-order-new" class="form-horizontal" [formGroup]="orderForm">
                <div class="row">
                
                    <div class="col-xl-6">

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="form-order-new-customer">Cliente *</label>
                            <div class="col-md-6">
                                <input type="text" id="form-order-new-customer" formControlName="customer"
                                    class="form-control" 
                                    [ngClass]="{'parsley-error': orderForm.controls['customer'].errors && formSubmited}"
                                    placeholder="Selecione o Cliente" required
                                    matInput [matAutocomplete]="customersAutocomplete"
                                />
                                <mat-autocomplete #customersAutocomplete="matAutocomplete" [displayWith]="displayFn">
                                    <mat-option *ngFor="let customer of customers" [value]="customer">
                                      {{ customer.name }}
                                    </mat-option>
                                </mat-autocomplete>
                                <span *ngIf="orderForm.controls['customer'].errors && formSubmited" 
                                    class="form-input-validation-error">Dados inválidos</span>
                            </div>
                        </div>
                        <hr />

                        <h5 class="font-14 mb-1">Produtos</h5>
                        <p class="sub-header mb-4">
                            Para cada um dos produtos, informe a quantidade desejada no campo correspondente.
                        </p>
                        
                        <ng-container formArrayName="orderProducts">
                            <ng-container *ngFor="let orderProductForm of orderProducts.controls; let i=index">
                                <div [formGroupName]="i" class="form-group row">
                                    <label class="col-md-6 col-form-label text-right" for="form-order-new-product-{{ i }}-amount">
                                        {{ orderProductForm.value['product'].name }}
                                    </label>
                                    <div class="col-md-3">
                                        <input type="text" id="form-order-new-product-{{ i }}-amount" formControlName="amount"
                                            class="form-control" 
                                            placeholder="Quantidade" mask="0*"
                                        />
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                    
                </div>
                <div class="row mt-4">
                    <div class="col-sm-12">
                        <a class="btn btn-secondary text-light mr-2" routerLink="/pedidos" role="button"><i class="fa fa-times-circle"></i> Cancelar</a>
                        <a class="btn btn-primary text-light cursor-pointer" (click)="save()" role="button">Salvar</a>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div><!-- end col -->
</div>